@import "tailwindcss";
@import "tailwind-animations";

@font-face {
  font-family: "RobotoSlab";
  src: url("/public/RobotoSlab-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/public/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "kalon";
  src: url("/public/kalon.otf") format("OpenType");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --breakpoint-xs: 24rem;

  --font-kalon: "kalon";

  --font-roboto-slab: "RobotoSlab";
  --font-poppins: "Poppins";
}

:root {
  scroll-behavior: smooth;
}

p {
  font-family: "Poppins";
  text-wrap: pretty;
}

h1,
.h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RobotoSlab";
}
